[package]
name = "indicium"
version = "0.5.3"
authors = ["Dylan Bowker <dylan.bowker@arkiteq.ca>"]
edition = "2021"
categories = [ "database-implementations" ]
description = "Simple in-memory search for collections and key-value stores."
documentation = "https://docs.rs/indicium"
keywords = [ "search", "autocomplete", "struct", "vec", "hashmap" ]
license = "MIT OR Apache-2.0"
publish = true
readme = "README.md"
repository = "https://github.com/leontoeides/indicium"

[badges]
maintenance = { status = "actively-developed" }

[features]
default = [ "simple", "strsim", "ahash" ]
simple = []
select2 = [ "simple", "serde" ]
ahash = [ "dep:ahash" ]
eddie = [ "dep:eddie" ]
gxhash = [ "dep:gxhash" ]
strsim = [ "dep:strsim" ]

[dependencies]
ahash = { version = "0.8", optional = true }
eddie = { version = "0.4", optional = true }
gxhash = { version = "2.2", optional = true }
kstring = "2.0"
serde = { version = "1.0", features = [ "derive" ], optional = true }
strsim = { version = "0.10", optional = true }
tracing = "0.1"

[dev-dependencies]
pretty_assertions = "1"